* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    font-weight: normal;
    font-style: normal;
    src: url('../resources/fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../resources/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    font-weight: normal;
    font-style: normal;
    src: url('../resources/fonts/OpenSans-SemiBold.ttf');
}

body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: OpenSans-ExtraBold;
    font-size: 3vw;
    color: white;
    text-shadow: 0px 3px 6px black;
    text-align: center;
    margin-top: 3%;
}

.card {
    background-color: cadetblue;
    width: 50%;
    height: 50%;
    padding: 10px;
    padding-bottom:20%;
    margin: 3% auto;
    box-shadow: 0px 1px 6px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tpContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#introductionMessage {
    font-family: OpenSans-SemiBold;
    font-size: 1.1vw;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

a {
    text-decoration: none;
    font-family: OpenSans-SemiBold;
    font-size: 1.5vw;
}

button {
    font-family: OpenSans-Regular;
    border: none;
    border-radius: 1.5px;
    background-color: white;
    box-shadow: 0px 1px 3px black;
    outline: none;
    width: 25px;
    height: 25px;
    padding: 0px;
}

.tpButton {
    background-color: whitesmoke;
    width: 5vw;
    height: 5vw;
    padding: 50%, 0;
    margin: 10px;
    text-decoration: none;
    font-family: OpenSans-Regular;
    font-size: 1.5vw;
}

button:active {
    box-shadow: 0px -2px 5px black;
}
